//style 1
$primary-color-style-1: #c03961 !important;
$secondary-color-style-1: #f587a8 !important;
$buton-color-style-1: #d32559 !important;
$font-caveat-style-1: 'Caveat', cursive ;
$text-color-style-1: white !important;
$text-button-color-style-1: white !important;


//style 2

$primary-color-style-2: black !important;
$secondary-color-style-2: rgb(192, 181, 181) !important;
$buton-color-style-2: black !important;
$font-caveat-style-2: 'Caveat', cursive ;
$text-color-style-2: black !important;
$text-button-color-style-2: white !important;
