//declare variable

//--------------style 1-----------------
//--header--
$primary-color-style-1: #c03961 !important;
$secondary-color-style-1: #f587a8 !important;
$button-color-style-1: #d32559 !important;
$font-caveat-style-1: 'Caveat', cursive ;
$text-color-style-1: white !important;
$text-button-color-style-1: white !important;
//--section--
$bg-portfolio-style-1: #1cd2ff;
$bg-skill-style-1:#ffadff;
$bg-education-style-1: #ce703a;
//footer
$footer-color-style-1: #c03961 !important;


//style 2
//--header--
$primary-color-style-2: black !important;
$secondary-color-style-2: rgb(192, 181, 181) !important;
$button-color-style-2: black !important;
$font-caveat-style-2: 'Caveat', cursive ;
$text-color-style-2: black !important;
$text-button-color-style-2: white !important;

//--------------style 2-----------------
$bg-portfolio-style-2: rgb(66, 66, 66);
$bg-skill-style-2: white;
$bg-education-style-2: rgb(66, 66, 66);
//footer
$footer-color-style-2: black !important;

//--------------style 3-----------------
//--header--
$primary-color-style-3: rgb(72, 24, 73) !important;
$secondary-color-style-3: rgb(129, 22, 120) !important;
$button-color-style-3: rgb(72, 24, 73) !important;
$font-caveat-style-3: 'Caveat', cursive ;
$text-color-style-3: rgb(255, 255, 255) !important;
$text-button-color-style-3: white !important;

//--section--
$bg-portfolio-style-3: url('../images/7.jpg');
$bg-skill-style-3:url('../images/9.jpg');
$bg-education-style-3: url('../images/10.jpg');
//--footer--
$footer-color-style-3: rgb(72, 24, 73) !important;

//share

$text-color-1: black !important;
$text-color-2: white !important;
$text-color-3: #78cff1 !important;